@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color: rgb(197, 195, 195);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    line-height:1.3em;
}

.container {
    max-width: 640px;
    margin: 20px auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
}